<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>ShopOnlineWeb</display-name>
    <servlet>
    	<description>
    	Cette classe traite les données du formulaire envoyés lors de la soumission pour s'enregistrer</description>
    	<display-name>ClientServlet</display-name>
    	<servlet-name>ClientServlet</servlet-name>
    	<servlet-class>be.shop.servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ArticleServlet</display-name>
    	<servlet-name>ArticleServlet</servlet-name>
    	<servlet-class>be.shop.servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CategorieServlet</display-name>
    	<servlet-name>CategorieServlet</servlet-name>
    	<servlet-class>be.shop.servlet.CategorieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ClientServlet</servlet-name>
    	<url-pattern>/clientServletRegister.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ArticleServlet</servlet-name>
    	<url-pattern>/articleServletRegister.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CategorieServlet</servlet-name>
    	<url-pattern>/categorieServletRegister.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
		<!-- <dispatcher>FORWARD</dispatcher> <dispatcher>REQUEST</dispatcher> -->
	</filter-mapping> 
    <welcome-file-list>
        <welcome-file>/WEB-INF/views/home.jsp</welcome-file>  
     </welcome-file-list>
     
 </web-app>
